* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    justify-content: center;
    text-align: center;
}

.grid {
    justify-content: center;
}

.buttons {
    display: flex;
    flex: auto;
    justify-content: center;
}

button {
    margin: 20px;
}